<%- include('partials/header'); %>
<%i=0%>

<section id="search-section">
  <div class="container">
    <div class="home">
      <h1 class="">MovieRecom</h1>
    </div>
    <div class="home-search-container">
      <form class="home-search-form" action="/" method="post">
        <i class="fas fa-search"></i>
        <input type="text" name="search" placeholder="Type any movie">
        <button class="home-search-button" type="submit" name="home-search-button">        <i class="fas fa-search"></i>
</button>
      </form>
    </div>
  </div>
</section>

<section id="note-section">
  <div class="container">
    <div class="note-container row">
      <div class="popular-recommendations col">
        <div class="note-inner-content">
          <h3 class="home-title">Popular Recommendations</h3>
          <div class="heading-line" data-aos="heading-Line" data-aos-delay="20"data-aos-duration="2000">

          </div>
        </div>
        <div class="home-recommendations row">

          <div class="col col-lg-3 col-md-4 col-sm-6 home-card-col">
            <div class="card home-card"  >
            <a href="/recommendation/top_movies/<%=i%><%=movies[i]['poster']%>"><img src="https://image.tmdb.org/t/p/original<%=movies[i]['poster']%>" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <a href="/recommendation/top_movies/<%=i%><%=movies[i]['poster']%>"> <h4 class="cardtext"><%=movies[i++].title%></h4></a>
              </div>
            </div>
          </div>

          <div class="col col-lg-3 home-card-col col-md-4 col-sm-6">
            <div class="card home-card"  >
              <a href="/recommendation/top_movies/<%=i%><%=movies[i]['poster']%>"><img src="https://image.tmdb.org/t/p/original<%=movies[i]['poster']%>" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <a href="/recommendation/top_movies/<%=i%><%=movies[i]['poster']%>"> <h4 class="cardtext"><%=movies[i++].title%></h4></a>
              </div>
            </div>
          </div>

          <div class="col col-lg-3 home-card-col col-md-4 col-sm-6">
            <div class="card home-card"  >
              <a href="/recommendation/top_movies/<%=i%><%=movies[i]['poster']%>"><img src="https://image.tmdb.org/t/p/original<%=movies[i]['poster']%>" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <a href="/recommendation/top_movies/<%=i%><%=movies[i]['poster']%>"> <h4 class="cardtext"><%=movies[i++].title%></h4></a>
              </div>
            </div>
          </div>

          <div class="col col-lg-3 home-card-col col-md-4 col-sm-6">
            <div class="card home-card"  >
              <a href="/recommendation/top_movies/<%=i%><%=movies[i]['poster']%>"><img src="https://image.tmdb.org/t/p/original<%=movies[i]['poster']%>" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <a href="/recommendation/top_movies/<%=i%><%=movies[i]['poster']%>"> <h4 class="cardtext"><%=movies[i++].title%></h4></a>
              </div>
            </div>
          </div>


          <div class="col col-lg-3 home-card-col col-md-4 col-sm-6">
            <div class="card home-card"  >
              <a href="/recommendation/top_movies/<%=i%><%=movies[i]['poster']%>"><img src="https://image.tmdb.org/t/p/original<%=movies[i]['poster']%>" class="card-img-top" alt="..."></a>
              <div class="card-body">
              <a class="card-text-link" href="/recommendation/top_movies/<%=i%><%=movies[i]['poster']%>"> <h4 class="cardtext"><%=movies[i++].title%></h4></a>
              </div>
            </div>
          </div>

          <div class="col col-lg-3 home-card-col col-md-4 col-sm-6">
            <div class="card home-card" >
              <a href="/recommendation/top_movies/<%=i%><%=movies[i]['poster']%>"><img src="https://image.tmdb.org/t/p/original<%=movies[i]['poster']%>" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <a href="/recommendation/top_movies/<%=i%><%=movies[i]['poster']%>"> <h4 class="cardtext"><%=movies[i++].title%></h4></a>
              </div>
            </div>
          </div>

          <div class="col col-lg-3 home-card-col col-md-4 col-sm-6">
            <div class="card home-card"  >
              <a href="/recommendation/top_movies/<%=i%><%=movies[i]['poster']%>"><img src="https://image.tmdb.org/t/p/original<%=movies[i]['poster']%>" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <a href="/recommendation/top_movies/<%=i%><%=movies[i]['poster']%>"> <h4 class="cardtext"><%=movies[i++].title%></h4></a>
              </div>
            </div>
          </div>

          <div class="col col-lg-3 home-card-col col-md-4 col-sm-6">
            <div class="card home-card"  >
              <a href="/recommendation/top_movies/<%=i%><%=movies[i]['poster']%>"><img src="https://image.tmdb.org/t/p/original<%=movies[i]['poster']%>" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <a href="/recommendation/top_movies/<%=i%><%=movies[i]['poster']%>"> <h4 class="cardtext"><%=movies[i++].title%></h4></a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

</section>



<div class="footer">
    <p class="footer-content" style="color:#17252A"> Copyright 2021 </p>
  </div>

  <%- include('partials/footer'); %>
