
<%- include('partials/header'); %>
<% i=0 %>

<section id="movie-info-section" style="background-image:url(https://image.tmdb.org/t/p/original/<%=movieimage%>)">
  <div class="movieinfo-container">
    <div class="container">
      <div class="movieinfo" >
        <div class="movie-image">
          <img class="image" src="https://image.tmdb.org/t/p/original/<%=movieimage%>" width="350px" height="350px" alt="">
        </div>
        <div class="movie-details">
          <div class="h2" >
            <h1 class="info" style="color:#fff"><%= movietitle  %> </h1>
          </div>
          <div class="p-tags" style="color:#fff">
            <strong>
              <p class="info"><%= genre %></p>
            </strong>
            <p class="info"><%= popularity %></p>
            <p class="info"><%= voteaverage %>/10</p>
            <p class="info"><%= releasedate %></p>
          </div>
        </div>
        <div class="watch-list">
          <form class="" action="/moviepost" method="post">
            <button class="watch-list-button btn" value="<%= movietitle %>"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add to Your Watch List" type="submit" name="watchlist" onclick="list()">+</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="top-cast-section">
  <div class="top-cast-container">
    <div class="container">
      <div class="top-cast">
        <div class="top-cast-heading">
          <h1>Top Cast</h1>
        </div>
        <div class="top-cast-images">

        <div class="top-cast-details">
          <div class="top-cast-image">
            <a class="btn-a" data-bs-trigger="hover" data-toggle="popover"  title= "<%=profilename[i]%> as <%=profilechar[i]%>"  data-placement="bottom"  data-bs-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
            <img src="https://image.tmdb.org/t/p/original/<%= profileimg[i++] %>" width="200px" height="200px" alt=""> </a>
          </div>
          <div class="top-cast-image">
            <a class="btn-a" data-bs-trigger="hover" data-toggle="popover"  title="<%=profilename[i]%> as <%=profilechar[i]%>"  data-placement="bottom"  data-bs-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
            <img src="https://image.tmdb.org/t/p/original<%= profileimg[i++] %>" width="200px" height="200px" alt=""> </a>
          </div>
          <div class="top-cast-image">
            <a class="btn-a" data-bs-trigger="hover" data-toggle="popover"  title="<%=profilename[i]%> as <%=profilechar[i]%>"  data-placement="bottom"  data-bs-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
            <img src="https://image.tmdb.org/t/p/original<%= profileimg[i++] %>" width="200px" height="200px" alt=""> </a>
          </div>
          <div class="top-cast-image">
            <a class="btn-a" data-bs-trigger="hover" data-toggle="popover"  title="<%=profilename[i]%> as <%=profilechar[i]%>"  data-placement="bottom"  data-bs-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
            <img src="https://image.tmdb.org/t/p/original<%= profileimg[i++] %>" width="200px" height="200px" alt=""> </a>
          </div>
          <div class="top-cast-image">
            <a class="btn-a" data-bs-trigger="hover" data-toggle="popover"  title="<%=profilename[i]%> as <%=profilechar[i]%>"  data-placement="bottom"  data-bs-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
            <img src="https://image.tmdb.org/t/p/original<%= profileimg[i++] %>" width="200px" height="200px" alt=""> </a>
          </div>
          <div class="top-cast-image">
            <a class="btn-a" data-bs-trigger="hover" data-toggle="popover"  title="<%=profilename[i]%> as <%=profilechar[i]%>"  data-placement="bottom"  data-bs-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
            <img src="https://image.tmdb.org/t/p/original<%= profileimg[i++] %>" width="200px" height="200px" alt=""> </a>
          </div>
          <div class="top-cast-image">
            <a class="btn-a" data-bs-trigger="hover" data-toggle="popover"  title="<%=profilename[i]%> as <%=profilechar[i]%>"  data-placement="bottom"  data-bs-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
            <img src="https://image.tmdb.org/t/p/original<%= profileimg[i++] %>" width="200px" height="200px" alt=""> </a>
          </div>
          <div class="top-cast-image">
            <a class="btn-a" data-bs-trigger="hover" data-toggle="popover"  title="<%=profilename[i]%> as <%=profilechar[i]%>"  data-placement="bottom"  data-bs-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
            <img src="https://image.tmdb.org/t/p/original<%= profileimg[i++] %>" width="200px" height="200px" alt=""> </a>
          </div>
          <div class="top-cast-image">
            <a class="btn-a" data-bs-trigger="hover" data-toggle="popover"  title="<%=profilename[i]%> as <%=profilechar[i]%>"  data-placement="bottom"  data-bs-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
            <img src="https://image.tmdb.org/t/p/original<%= profileimg[i++] %>" width="200px" height="200px" alt=""> </a>
          </div>
          <div class="top-cast-image">
            <a class="btn-a" data-bs-trigger="hover" data-toggle="popover"  title="<%=profilename[i]%> as <%=profilechar[i]%>"  data-placement="bottom"  data-bs-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
            <img src="https://image.tmdb.org/t/p/original<%= profileimg[i++] %>" width="200px" height="200px" alt=""> </a>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</section>

<div class="moviepost-footer">
  <%- include('partials/footer'); %>
</div>
