<%- include('partials/header'); %>
<% i=0 %>

<div class="recommendationpage-recommendations" id="recommendation-section">
  <div class="container">

    <div class="recommendation-page-title home">
      <h2>Related to your Searches</h2>
      <div class="heading-line">

      </div>
    </div>
    <div class="suggested-movies container">

      <div class="grid-item">
        <div class="grid-item-content grid-item-content-one" data-aos="fade-left" data-aos-delay="20"data-aos-duration="2000" data-aos-once="true" >
          <a class="recommendation-page-image-a" href="/recommendation/<%=Movies[i]['title']%><%=Movies[i]['poster']%>">
            <img src="https://image.tmdb.org/t/p/original<%=Movies[i]['poster']%>" class="recommended-movies-img" width="330px" height="400px" alt="">
            <div class="overlay">
              <div class="moviename">
                <%=Movies[i++]['title']%>
              </div>

            </div>
          </a>
        </div>
      </div>

      <div class="grid-item">
        <div class="grid-item-content grid-item-content-two" data-aos="flip-down" data-aos-delay="20"data-aos-duration="2000" data-aos-once="true" >
          <a class="recommendation-page-image-a" href="/recommendation/<%=Movies[i]['title']%><%=Movies[i]['poster']%>">
            <img src="https://image.tmdb.org/t/p/original<%=Movies[i]['poster']%>" class="recommended-movies-img" width="330px" height="400px" alt="">
            <div class="overlay">
              <div class="moviename">
                <%=Movies[i++]['title']%>
              </div>

            </div>
          </a>
        </div>
      </div>

      <div class="grid-item">
        <div class="grid-item-content grid-item-content-three" data-aos="fade-right" data-aos-delay="20"data-aos-duration="2000" data-aos-once="true" >
          <a class="recommendation-page-image-a" href="/recommendation/<%=Movies[i]['title']%><%=Movies[i]['poster']%>">
            <img src="https://image.tmdb.org/t/p/original<%=Movies[i]['poster']%>" class="recommended-movies-img" width="330px" height="400px" alt="">
            <div class="overlay">
              <div class="moviename">
                <%=Movies[i++]['title']%>
              </div>

            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="suggested-movies container">

      <div class="grid-item">
        <div class="grid-item-content grid-item-content-four" data-aos="fade-left" data-aos-delay="20"data-aos-duration="2000" data-aos-once="true" >
          <a class="recommendation-page-image-a" href="/recommendation/<%=Movies[i]['title']%><%=Movies[i]['poster']%>">
            <img src="https://image.tmdb.org/t/p/original<%=Movies[i]['poster']%>" class="recommended-movies-img" width="330px" height="400px" alt="">
            <div class="overlay">
              <div class="moviename">
                <%=Movies[i++]['title']%>
              </div>

            </div>
          </a>
        </div>
      </div>

      <div class="grid-item">
        <div class="grid-item-content grid-item-content-five" data-aos="flip-down" data-aos-delay="20"data-aos-duration="2000" data-aos-once="true" >
          <a class="recommendation-page-image-a" href="/recommendation/<%=Movies[i]['title']%><%=Movies[i]['poster']%>">
            <img src="https://image.tmdb.org/t/p/original<%=Movies[i]['poster']%>" class="recommended-movies-img" width="330px" height="400px" alt="">
            <div class="overlay">
              <div class="moviename">
                <%=Movies[i++]['title']%>
              </div>

            </div>
          </a>
        </div>
      </div>

      <div class="grid-item">
        <div class="grid-item-content grid-item-content-six" data-aos="fade-right" data-aos-delay="20"data-aos-duration="2000" data-aos-once="true" >
          <a class="recommendation-page-image-a" href="/recommendation/<%=Movies[i]['title']%><%=Movies[i]['poster']%>">
            <img src="https://image.tmdb.org/t/p/original<%=Movies[i]['poster']%>" class="recommended-movies-img" width="330px" height="400px" alt="">
            <div class="overlay">
              <div class="moviename">
                <%=Movies[i++]['title']%>
              </div>

            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="suggested-movies container">

      <div class="grid-item">
        <div class="grid-item-content grid-item-content-seven" data-aos="fade-left" data-aos-delay="20"data-aos-duration="2000" data-aos-once="true" >
          <a class="recommendation-page-image-a" href="/recommendation/<%=Movies[i]['title']%><%=Movies[i]['poster']%>">
            <img src="https://image.tmdb.org/t/p/original<%=Movies[i]['poster']%>" class="recommended-movies-img" width="330px" height="400px" alt="">
            <div class="overlay">
              <div class="moviename">
                <%=Movies[i++]['title']%>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="grid-item">
        <div class="grid-item-content grid-item-content-eight" data-aos="flip-down" data-aos-delay="20"data-aos-duration="2000" data-aos-once="true" >
          <a class="recommendation-page-image-a" href="/recommendation/<%=Movies[i]['title']%><%=Movies[i]['poster']%>">
            <img src="https://image.tmdb.org/t/p/original<%=Movies[i]['poster']%>" class="recommended-movies-img" width="330px" height="400px" alt="">
            <div class="overlay">
              <div class="moviename">
                <%=Movies[i++]['title']%>
              </div>

            </div>
          </a>
        </div>
      </div>

      <div class="grid-item">
        <div class="grid-item-content grid-item-content-nine" data-aos="fade-right" data-aos-delay="20"data-aos-duration="2000" data-aos-once="true" >
          <a class="recommendation-page-image-a" href="/recommendation/<%=Movies[i]['title']%><%=Movies[i]['poster']%>">
            <img src="https://image.tmdb.org/t/p/original<%=Movies[i]['poster']%>" class="recommended-movies-img" width="330px" height="400px" alt="">
            <div class="overlay">
              <div class="moviename">
                <%=Movies[i++]['title']%>
              </div>

            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer'); %>
