<%- include('partials/header'); %>
<% i=0 %>

<div class="recommendationpage-recommendations" id="recommendation-section">
  <div class="container">

    <div class="recommendation-page-title recommendation-home home">
      <h2>Related to your Searches</h2>
      <div class="heading-line line" data-aos="heading-Line" data-aos-delay="20" data-aos-duration="2000">

      </div>
    </div>
    <div class="suggested-movies container">

      <div class="grid-item">
        <div class="grid-item-content grid-item-content-one" data-aos="fade-left" data-aos-delay="20" data-aos-duration="2000" data-aos-once="true">
          <a class="recommendation-page-image-a" href="/recommendation/search/<%=i%><%=Movies[i]['poster']%>">
            <img src="https://image.tmdb.org/t/p/original<%=Movies[i]['poster']%>" class="recommended-movies-img" alt="">
            <div class="overlay">
              <div class="moviename">
                <%=Movies[i++]['title']%>
              </div>

            </div>
          </a>
        </div>
      </div>

      <div class="grid-item">
        <div class="grid-item-content grid-item-content-two" data-aos="flip-down" data-aos-delay="20" data-aos-duration="2000" data-aos-once="true">
          <a class="recommendation-page-image-a" href="/recommendation/search/<%=i%><%=Movies[i]['poster']%>">
            <img src="https://image.tmdb.org/t/p/original<%=Movies[i]['poster']%>" class="recommended-movies-img" alt="">
            <div class="overlay">
              <div class="moviename">
                <%=Movies[i++]['title']%>
              </div>

            </div>
          </a>
        </div>
      </div>

      <div class="grid-item">
        <div class="grid-item-content grid-item-content-three" data-aos="fade-right" data-aos-delay="20" data-aos-duration="2000" data-aos-once="true">
          <a class="recommendation-page-image-a" href="/recommendation/search/<%=i%><%=Movies[i]['poster']%>">
            <img src="https://image.tmdb.org/t/p/original<%=Movies[i]['poster']%>" class="recommended-movies-img" alt="">
            <div class="overlay">
              <div class="moviename">
                <%=Movies[i++]['title']%>
              </div>

            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="suggested-movies container">

      <div class="grid-item">
        <div class="grid-item-content grid-item-content-four" data-aos="fade-left" data-aos-delay="20" data-aos-duration="2000" data-aos-once="true">
          <a class="recommendation-page-image-a" href="/recommendation/search/<%=i%><%=Movies[i]['poster']%>">
            <img src="https://image.tmdb.org/t/p/original<%=Movies[i]['poster']%>" class="recommended-movies-img" alt="">
            <div class="overlay">
              <div class="moviename">
                <%=Movies[i++]['title']%>
              </div>

            </div>
          </a>
        </div>
      </div>

      <div class="grid-item">
        <div class="grid-item-content grid-item-content-five" data-aos="flip-down" data-aos-delay="20" data-aos-duration="2000" data-aos-once="true">
          <a class="recommendation-page-image-a" href="/recommendation/search/<%=i%><%=Movies[i]['poster']%>">
            <img src="https://image.tmdb.org/t/p/original<%=Movies[i]['poster']%>" class="recommended-movies-img" alt="">
            <div class="overlay">
              <div class="moviename">
                <%=Movies[i++]['title']%>
              </div>

            </div>
          </a>
        </div>
      </div>

      <div class="grid-item">
        <div class="grid-item-content grid-item-content-six" data-aos="fade-right" data-aos-delay="20" data-aos-duration="2000" data-aos-once="true">
          <a class="recommendation-page-image-a" href="/recommendation/search/<%=i%><%=Movies[i]['poster']%>">
            <img src="https://image.tmdb.org/t/p/original<%=Movies[i]['poster']%>" class="recommended-movies-img" alt="">
            <div class="overlay">
              <div class="moviename">
                <%=Movies[i++]['title']%>
              </div>

            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="suggested-movies container">

      <div class="grid-item">
        <div class="grid-item-content grid-item-content-seven" data-aos="fade-left" data-aos-delay="20" data-aos-duration="2000" data-aos-once="true">
          <a class="recommendation-page-image-a" href="/recommendation/search/<%=i%><%=Movies[i]['poster']%>">
            <img src="https://image.tmdb.org/t/p/original<%=Movies[i]['poster']%>" class="recommended-movies-img" alt="">
            <div class="overlay">
              <div class="moviename">
                <%=Movies[i++]['title']%>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="grid-item">
        <div class="grid-item-content grid-item-content-eight" data-aos="flip-down" data-aos-delay="20" data-aos-duration="2000" data-aos-once="true">
          <a class="recommendation-page-image-a" href="/recommendation/search/<%=i%><%=Movies[i]['poster']%>">
            <img src="https://image.tmdb.org/t/p/original<%=Movies[i]['poster']%>" class="recommended-movies-img" alt="">
            <div class="overlay">
              <div class="moviename">
                <%=Movies[i++]['title']%>
              </div>

            </div>
          </a>
        </div>
      </div>

      <div class="grid-item">
        <div class="grid-item-content grid-item-content-nine" data-aos="fade-right" data-aos-delay="20" data-aos-duration="2000" data-aos-once="true">
          <a class="recommendation-page-image-a" href="/recommendation/search/<%=i%><%=Movies[i]['poster']%>">
            <img src="https://image.tmdb.org/t/p/original<%=Movies[i]['poster']%>" class="recommended-movies-img" alt="">
            <div class="overlay">
              <div class="moviename">
                <%=Movies[i++]['title']%>
              </div>

            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="footer-div">
  <div class="footer">
    <div class="contact-us">
      <ul class="list-inline">
        <li class="list-inline-item"><button style="color:#b8b4af" class="contactus-btn" onclick="showcontactdiv()">Contact Us</button></li>

        <div style="background-color:#c3faff45" class="contactus-content">
          <p style="color: #0c2f2f;align-items:left">deshwalkanu88@gmail.com</p>
          <p style="color: #0c2f2f;align-items:left">gupta.ayush211099@gmail.com</p>
        </div>
        <li class="list-inline-item"><a style="color:#b8b4af" href="/about">About Us</a></li>
        <li class="list-inline-item back-to-top"><button style="color:#b8b4af" class="back-to-top-btn" type="button">Back to top<span><img style="color:#b8b4af" src="/images/arrow.png" width="12px" height="12px" alt=""></span></button></li>

      </ul>
    </div>
    <p class="footer-content" style="color:#a6a3a3;opacity:0.6"> Movierecom © <%= curyear %></p>
  </div>
</div>

<%- include('partials/footer'); %>
